header{
    width: 100%;
    padding-top: 16px;

}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.logo{
    max-width: 88px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    
    li{
        margin-left: 24px;
        
        &:last-child > a{
            color: $red;
        }
    }

    @include responsive(){
        display: none;
    }
}
.nav-link{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;
    color: $gray-3;
    transition: .7s ease;
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -40px;
        width: 2px;
        border-radius: 1px;
        height: 0px;
        background: linear-gradient(180deg, rgba(233,29,34,0) 0%, #E91D22 100%);
        transition: .7s ease;
    }

    &:hover{
        color: $white-light;

        &::after{
            height: 40px;
        }
    }
}

.nav-social{
    display: flex;

    svg{
        cursor: pointer;
        margin-left: 16px;
        width: 24px;
        path, circle{
            transition: .7s ease;
        }

        &:hover{
            path, circle{
                fill: $red-light;
                transform: translate3d(0,-3px,0);
            }
        }
    }

    @include responsive(){
        display: none;
    }
}

.bx{
    width: 48px;
    height: 48px;
    display: none;

    @include responsive(){
        display: block;
    }
}